.wrapper {
  padding: 10px 0 15px;
  text-align: center;
  color: white;
  // font-size: 32px;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  max-width: 800px;
  margin: auto;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

@media screen and (min-width: 800px) {
  .column {
    flex: 1
  }
}