.wrapper {
  padding: 20px;
  text-align: center;
  color: black;
  max-width: 500px;
  margin: auto;
}

.select {
  text-align: left;
}


// .wrapper select {
//   padding: 5px 8px;
//   width: 100%;
//   max-width: 700px;
//   border: none;
//   box-shadow: none;
//   background: #0E334F;
//   background-image: none;
//   -webkit-appearance: none;
//   border-radius: 0;
//   color: white;
// }

