.hidden {
  display: none;
}

// Using this section to override some global styles
:global {
  .Header {
    // Match header color to that of the CoreMedia theme
    background-color: #175482 !important;
  }

  #main_content > h2 {
    max-width: 700px
  }

  .is-dark-mode body {
    background-color: #175482 !important;
  }

  .interactive-always-hidden {
    display: none !important;
  }
}
