@mixin for-phone-only {
  @media (max-width: 599px) {
    @content;
  }
}
@mixin for-tablet-portrait-up {
  @media (min-width: 600px) {
    @content;
  }
}
@mixin for-tablet-landscape-up {
  @media (min-width: 900px) {
    @content;
  }
}
@mixin for-desktop-up {
  @media (min-width: 1200px) {
    @content;
  }
}
@mixin for-big-desktop-up {
  @media (min-width: 1800px) {
    @content;
  }
}

.hidden {
  display: none;
}

// Using this section to override some global styles
:global {
  .Header {
    // Match header color to that of the CoreMedia theme
    background-color: transparent !important;
  }

  #main_content > h2 {
    max-width: 700px;
  }

  .is-dark-mode body {
    background: url("./background.png") #175482;
    background-position: calc(50%) calc(50%);
    background-size: 500px;
    background-attachment: fixed;
  }

  @include for-tablet-landscape-up {
    .is-dark-mode body {
      background: url("./background.png") #175482;
      background-position: calc(50%) calc(50%);
      background-size: 900px;
      background-attachment: fixed;
    }
  }

  .interactive-always-hidden {
    display: none !important;
  }

  html {
    scroll-behavior: auto !important;
  }

  .Header-content > h1:after {
    background-color: transparent;
  }

  h2.children::before,
  h2.teenagers::before,
  h2.twenties::before,
  h2.thirties::before,
  h2.forties::before,
  h2.fifties::before,
  h2.sixties::before,
  h2.seventiesandover::before {
    background-color: transparent;
    margin-top: 30px;
  }

  h2.children,
  h2.teenagers,
  h2.twenties,
  h2.thirties,
  h2.forties,
  h2.fifties,
  h2.sixties,
  h2.seventiesandover {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
