.wrapper {
  padding: 0 0;
  text-align: center;
  color: #f7fff7;
  font-family: "ABCSans-bold", ABCSans, Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-size: 18px;
}

.svg {
  dummy: value;
  border: 1px solid #333;
}
