.wrapper {
  padding: 0 0;
  text-align: left;
  color: #f7fff7;
  font-family: "ABCSans-bold", ABCSans, Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-size: 18px;
}

// .svg {
//   dummy: value;
//   border: 1px solid #333;
// }

.title {
  margin-bottom: 16px;
  max-width: 350px;
  padding-left: 60px;
  padding-right: 30px;
  text-align: left;
}

.note {
  color: #B0E6FF;
  font-size: 11px;
  max-width: 218px;
  padding-left: 60px;
  padding-right: 30px;
}