.pre {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.post {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cigarette {
  // margin-top: 10px;
}

// :global {
//   .keyshape-svg svg {
//     max-height: 110px;
//   }
// }
