.pre {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  
  min-width: 0;
}

.post {
  margin-top: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pre > div {
  min-width: 0;
}

.post > div {
  min-width: 0;
}

// .pre > div > svg {
//   width: unset;
//   height: unset;
// }