.wrapper {
  width: 200px;
  height: 100%;
  // margin-left: auto;
  // margin-right: auto;

  // Sometimes Ben hasn't put 100% widths and heights in his exports
  svg {
    width: 100%;
    // height: 100%;
  }
}
