.wrapper {
  text-align: center;
  background-color: #0e334f;
  font-family: ABCSans, Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: bold;
  padding: 12px 18px 11px; // A little off the bottom due to font
  display: inline-block;
  margin: 0 4px;
  cursor: pointer;
  border: none;
  color: white;
}

.active {
  color: #0E334F;
  background-color: #A7DAF2;
}

.inactive {
  color: white;
}