.wrapper {
  padding: 20px 0;
  text-align: center;
  color: white;
  font-size: 16px;
}

.question {
  font-family: "ABCSans-bold", ABCSans, Helvetica, Arial, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1.14px;
  margin-bottom: 1em;
}
